{% extends 'base.html' %}
{% block content %}
    Index page

    <div class='card'>
        <div class='card-header'>
            <h2>Latest Posts</h2>
        </div>
        <div class='card-body'>
            {% for post in posts %}
                <div class='card'>
                    <div class='card-body'>
                        <a href="{{ post.get_absolute_url }}">{{ post.body|truncatewords:8 }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}