{% extends "base.html" %}

{% block content %}

    <h2 class="text-center"> {{user.username}} </h2>

    <div class='card'>
        <div class='card-header'>
            <h2>Latest Posts</h2>
        </div>
        <div class='card-body'>
            {% for post in posts %}
                <div class='card'>
                    <div class='card-body'>
                        <a href="{% url "posts:post_detail" post.id post.slug %}">{{ post.body|truncatewords:8 }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}


