<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-link active" href="{% url "home:home" %}">Home</a>
        {% if request.user.is_authenticated %}
        {% comment %} request.user.id is to pass the user id within the request to the view which is used to render the profile page {% endcomment %}
        <a class="nav-link active" href="{% url "accounts:user_profile" request.user.id %}">profile</a>
        <a class="nav-link active" href="{% url "accounts:user_logout" %}">Logout</a>
        {% else %}
        <a class="nav-link active" href="{% url "accounts:user_register" %}">Register</a>
        <a class="nav-link active" href="{% url "accounts:user_login" %}">Login</a>
        {% endif %}
      </div>
    </div>
</nav>