{% extends 'base.html' %}

{% block content %}

    <div class='card'>
        <div class='card-header'>
            <h3 class="card-subtitle mb-2 text-muted">{{ post.slug }}</h3>
            <a href="{% url 'accounts:user_profile' post.user.id %}" class="text-primary" style="text-decoration: none;">
                {{ post.user.username }}
            </a> - <small class="text-muted">{{ post.updated_at|date:"Y M D" }}</small>
        </div>
        <div class='card-body'>
            <p>{{ post.body }}</p>
        </div>
    </div>

    {% if request.user.id == post.user.id %}
    <a href="{% url 'posts:post_delete' post.id %}" class="btn btn-danger btn-primary">Delete</a>
    <a href="{% url 'posts:post_update' post.id %}" class="btn btn-update btn-primary">Update</a>
    <a href="{% url 'posts:post_like' post.id %}" class="{% if can_like %} disabled {% endif %} btn btn-primary">Like {{post.like_count}}</a>
    {% endif %} <br>

    <h3 class="card-subtitle mb-2 text-muted">Comments</h3>

    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-header">
            <a href="{% url 'accounts:user_profile' comment.user.id %}" class="text-primary" style="text-decoration: none;">
                {{ comment.user.username }}
            </a> - <small class="text-muted">{{ comment.created_at|timesince }}</small>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.body }}</p>

            {% for reply in comment.rcomment.all %}
            <div class="card mb-3">
                <div class="card-header">
                    <a href="{% url 'accounts:user_profile' reply.user.id %}" class="text-primary" style="text-decoration: none;">
                        {{ reply.user.username }}
                    </a> - <small class="text-muted">{{ reply.created_at|timesince }}</small>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ reply.body }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <form action="{% url 'posts:add_reply' post.id comment.id %}" method="POST" class="mt-4">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <button type="submit" class="btn btn-primary">Reply</button>
        </form> <br/>
    {% endif %}

    {% empty %}
    <p class="text-muted">No comments yet!</p>
    {% endfor %}

    {% if request.user.is_authenticated %}
        {% if request.user.id != post.user.id %}
            <form method="POST" class="mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        {% else %}
            <p class="alert alert-danger">Authors can't comment on their own posts.</p>
        {% endif %}
    {% else %}
        <p class="alert alert-danger">You must be logged in to comment.</p>
    {% endif %}

{% endblock %}